
/* CSS for Events Page */
.event {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin: 50px;
}

.SportLabel{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-bottom: 15px;
padding-top: 15px;
}

.events{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}


/* CSS for Sport specific pages */
.center {
    display: flex;
justify-content: center;
align-items: center;
align-content: space-between;
}

.end{
   display: flex;
   justify-self: center;
}

/* CSS for Home */
.eventers{
margin: 100px;
height: 150px;
display: flex;
justify-content: space-evenly;
}

.ore{
    margin: 3px;
}



/* 
.lime{
    background-color: rgb(65, 226, 173);
    margin: 100px;
height: 150px;
display: flex;
justify-content: center;
align-items: center;

} */