body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 0, 0, 0.897);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#event-form {
  margin: 60px;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(65, 226, 173);
  padding: 50px;
  border: 2pt;
  border-radius: 8pt;
}
